on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # https://github.com/actions/runner-images
  debug-job:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-26, macos-15-intel, windows-2025, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: mxschmitt/action-tmate@v3

  # https://github.com/mxschmitt/action-tmate/issues/216 (not working anymore)
  # https://github.com/mxschmitt/action-tmate/commit/877e019b4c15232d15c3b8e4de31f91d845c69f7
  debug-windows-11-arm:
    runs-on: windows-11-arm
    steps:
    - uses: msys2/setup-msys2@v2
      with:
        msystem: 'CLANGARM64'
        location: C:\.\
    - uses: mxschmitt/action-tmate@v3
    # To open CLANGARM64 shell: env MSYSTEM=CLANGARM64 bash -l

  debug-freebsd:
    runs-on: ubuntu-latest
    steps:
      - uses: vmactions/freebsd-vm@v1
        with:
          copyback: false
          release: "14.3"
      - shell: freebsd {0}
        run: set -ex && pkg update && pkg install -y git
      - run: echo "connect with 'ssh freebsd'"
      - uses: mxschmitt/action-tmate@v3

  debug-netbsd:
    runs-on: ubuntu-latest
    steps:
      - uses: vmactions/netbsd-vm@v1
        with:
          copyback: false
          release: "10.0"
      - shell: netbsd {0}
        run: set -ex && pkg_add pkgin && pkgin -y install git
      - run: echo "connect with 'ssh netbsd'"
      - uses: mxschmitt/action-tmate@v3

  debug-openbsd:
    runs-on: ubuntu-latest
    steps:
      - uses: vmactions/openbsd-vm@v1
        with:
          copyback: false
          release: "7.7"
      - shell: openbsd {0}
        run: set -ex && pkg_add pkgin && pkgin -y install git
      - run: echo "connect with 'ssh openbsd'"
      - uses: mxschmitt/action-tmate@v3

  debug-haiku:
    runs-on: ubuntu-latest
    steps:
      - uses: vmactions/haiku-vm@v1
        with:
          copyback: false
          release: "r1beta5"
      - shell: haiku {0}
        run: set -ex && pkgman install -y git
      - run: echo "connect with 'ssh haiku'"
      - uses: mxschmitt/action-tmate@v3
